/* CSS Document */


@font-face {
  font-family: 'basiic';
  src: url('fonts/basiic.otf') format('truetype');
}

@font-face {
  font-family: 'TFTWindows';
  src: url('fonts/TFTWindows.ttf') format('truetype');
}

@font-face {
  font-family: 'monogram';
  src: url('fonts/monogram.ttf') format('truetype');
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	display: flex;
	flex-direction: row;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10;
	background-color: #000000d3;
}


.leftBox {
	font-family: "TFTWindows";
	width: 400px;
	height: 200px;
	background-color: #000000d3;
	border: 2px solid white;
	color: white;
	padding: 10px 15px;
	margin: 2px;
}

.middleBox {
	font-family: "TFTWindows";
	width: 800px;
	height: 200px;
	background-color: #000000d3;
	border: 2px solid white;
	color: white;
	padding: 10px 15px;
	margin: 2px;
}

.rightBox {
	font-family: "TFTWindows";
	width: 400px;
	height: 200px;
	background-color: #000000d3;
	border: 2px solid white;
	color: white;
	padding: 10px 15px;
	margin: 2px;
}